/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid orange;
}

/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

/* Main code starts from here */

body {
  font-family: "work sans", sans-serif;
}

.hero-container {
  height: 710px;
  background-color: #f3c6bd;
}

.logo {
  height: 65px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  padding: 25px 0;
}

.navigation-links {
  margin: auto;
  margin-right: 0px;
}

.navigation-links li {
  list-style: none;
  float: left;
  color: rgb(25, 25, 26);
  padding-left: 45px;
}

.navigation-links li a {
  color: #000;
  text-decoration: none;
}

.navigation-links li a:hover {
  font-weight: 800;
}

.navigation-links li a:active {
  font-weight: bold;
}

#cta-before {
  padding-right: 52px;
}

#contact-nav {
  background-color: #3040c4;
  padding: 10px 20px;
  margin-top: -10px;
  color: rgb(255, 255, 255) !important;
  border: none;
  border-radius: 2px;
  font-weight: 600;
}

/* Hero main section started */
.hero-main-container {
  max-width: 1300px;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
  align-items: center;
}

.hero-text-container h1 {
  font-size: 70px;
  padding-bottom: 35px;
  line-height: 65px;
  min-width: 600px;
}

.hero-text-container p {
  line-height: 1.5;
}

.hero-button {
  padding-top: 50px;
}

#hero-btn {
  background-color: #ffffff;
  padding: 10px 20px;
  margin-top: -10px;
  margin-left: 5px;
  color: #3040c4 !important;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  cursor: pointer;
}

/* About section*/

.about {
  height: 255px;
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
}

.about-one {
  width: 50%;
}

.about-one h4 {
  padding-bottom: 10px;
}

.about-one p {
  max-width: 455px;
}

.about-two {
  max-width: 455px;
}

.about-two h4 {
  padding-bottom: 10px;
}

/* About section end*/

/* Logo section start */
.home-logo {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-1 {
  height: 75px;
  width: 105px;
  background-color: #000;
}
.logo-2 {
  height: 30px;
  width: 111px;
  background-color: #000;
}
.logo-3 {
  height: 44px;
  width: 50px;
  background-color: #000;
}
.logo-4 {
  height: 26px;
  width: 153px;
  background-color: #000;
}
.logo-5 {
  height: 43px;
  width: 76px;
  background-color: #000;
}
.logo-6 {
  height: 42px;
  width: 127px;
  background-color: #000;
}
/* Logo section end */

/* Features section start */
.features {
  height: 590px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 150px;
  overflow: hidden;
}

.features-text {
  width: 50%;
  padding-top: 15px;
  padding-left: 140px;
}

.features-left-side-img {
  position: absolute;
  left: -4%;
  top: 180%;
  height: 135px;
}

.features-text-first {
  color: #009b4d;
  font-weight: bold;
}

.features-text-heading {
  font-size: 50px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 56px;
}

.features-text-blue-container {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

.features-text-blue-bullet {
  height: 16px;
}

.features-text-blue {
  color: #3142c6;
  font-weight: bold;
  padding-left: 10px;
}

.features-text-para-second {
  font-size: 14px;
  padding-bottom: 15px;
}

.features-line {
  border-color: #3142c6;
  width: 390px;
  margin-bottom: 15px;
}

.features-engage-users {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}

.features-engage-users img {
  height: 20px;
}

.features-engage-users p {
  font-weight: bold;
  padding-left: 10px;
}

.features-develop-platform {
  display: flex;
  align-items: center;
}

.features-develop-platform img {
  height: 18px;
}

.features-develop-platform p {
  font-weight: bold;
  padding-left: 10px;
}

.features-image {
  width: 50%;
  position: relative;
  left: 170px;
}

.features-image img {
  height: 450px;
}
/* Features section end */

/* Quote section start */
.quotation {
  height: 690px;
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quotation-image-container {
  width: 50%;
}

.quotation-image-container p {
  padding: 10px 0 0 45px;
  font-weight: lighter;
  font-size: 12px;
  color: #707070;
}

.quotation-image-main {
  height: 400px;
}

.quotation-text-container {
  width: 50%;
}

.quotation-text-first {
  color: #f1592b;
  font-weight: bold;
}

.quotation-text-heading {
  font-size: 50px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 56px;
}

.quotation-text-para-second {
  font-size: 14px;
  padding: 45px 0 15px 0;
}

.quotation-user-details {
  display: flex;
  align-items: center;
  padding: 20px 0 0 0;
}
.quotation-user-text {
  padding: 0 0 0 10px;
}

.quotation-user-name {
  font-weight: bold;
}

.quotation-user-company {
  font-weight: lighter;
  color: #707070;
  font-size: 12px;
}

.quotation-line {
  border-color: #0189d1;
  width: 390px;
  margin: 15px 0 0 0;
}
/* Quote section end */

/* features second part section start */
.features-second-container-main {
  height: 590px;
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 20px;
  /* background-color: #f1592b; */
}

.features-second-text-container {
  width: 50%;
}

.features-second-text-first {
  color: #0189d1;
  font-weight: bold;
}

.features-second-gap {
  padding: 0 0 40px 0;
}

.features-second-image-container {
  width: 50%;
}

.features-second-image-container p {
  padding: 10px 0 0 115px;
  font-weight: lighter;
  font-size: 12px;
  color: #707070;
}
/* features second part section end */
